.footer {
	text-align: center;
	padding: 30px 0;
	margin-top: 70px;
	border-top: 1px solid #e5e5e5;
	background-color: #f5f5f5;
}

#blog-header {
	background: #ffffff url('../img/grungy-abstract-squares1.jpg') repeat right top;
	color: White;
}

#blog-header a {
	color: White;
}

#blog-header a:hover {
	text-decoration: none;
}

#blog-header .container {
	opacity: 0.8;
}