<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <title>{{ page.title }}</title>
      <meta name="viewport" content="width=device-width">
      <link rel="stylesheet" href="/css/app.css">
      <link href="/feed.xml" rel="alternate" title="RSS" type="application/rss+xml" />
  </head>
  <body>
    <header>
      <h1><a href="/">Appalling Farrago</a></h1>
      <p class="lead">Just a load of nonsense</p>
    </header>

    <main>
      {{ content }}
    </main>

    <footer>
      <p class='text-right'>
        Matthew Sumner<br />
        Web Developer<br />
        matt.m.sumner@gmail.com
      </p>
      <p class='text-right'>
        <a href="http://twitter.com/MatthewMSumner/">twitter.com/MatthewMSumner</a><br />
        <a href="http://github.com/DeviousDuck/">github.com/DeviousDuck</a><br />
      </p>
    </footer>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-44510916-1', 'appallingfarrago.com');
      ga('send', 'pageview');
    </script>
  </body>
</html>
